* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #FFFFFF;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fdfdfd;
    top: 0;
    width: 100%;
    padding-top: 20px;
}

.searchbar {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.searchbar img {
    padding: 10px 0 0 15px;
}

.searchbar form {
    flex: 2;
}

.searchbar input[type="text"] {
    height: 35px; 
    margin-top: 10px;
    width: 65%;
    margin-left: 20px;
    border-radius: 30px;
    background-image: url("../images/search.png"), url("../images/mic.png");
    background-position: center left, center right;
    background-repeat: no-repeat, no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}

.buttons {
    margin: 15px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.buttons button {
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 18px;
    background-color: #4285F4;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #4285F4;
}

.links {
    margin-top: 90px;
    margin-left: 120px;
    margin-right: 520px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 10px;
}

.links a {
    margin-right: 10px;
    text-decoration: none;
    color: #5F6368;

}

.links a:hover {
    color: #4285F4;
}

.right-links {
    margin-top: 10px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-container {
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 520px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
}

.search-result {
    margin-top: 20px;
}

.search-result h3 {
    font-weight: normal;
    font-size: 20px;
    color: #1A0DAB;
}

.search-result h3:hover {
    text-decoration: underline;
}

.website-link {
    margin-top: 4px;
}

.website-link a {
    color: #006621;
    text-decoration: none;
    font-size: 14px;
}

.search-result p {
    margin-top: 4px;
    color: #545454;
}

.search-result .internal-links {
    margin-top: 4px;
}

.search-result .internal-links a {
    margin-right: 5px;
    text-decoration: none;
    color: #1A0DAB;
}

.questions-section {
    margin-top: 20px;
    border: 1px solid rgb(229, 229, 229);
    padding: 10px;
}

.questions-section h3 {
    font-size: 20px;
    color: #222222;
}

.question {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(229, 229, 229);
}

.question p {
    color: #222222;
    font-size: 16px;
    padding-top: 5px;
}

.feedback {
    padding-top: 5px;
    align-self: flex-end;
    text-decoration: none;
    color: #70757A;
}

.feedback:hover {
    text-decoration: underline;
}

.similar-searches {
    margin-top: 20px;
    margin-bottom: 20px;
}

.similar-searches h3 {
    font-size: 20px;
    color: #222222;
    font-weight: normal;
}

.similar-searches .similar-searches-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.similar-webpages-links {
    display: flex;
    justify-content: space-between;

}

.similar-webpages-links a {
    margin-top: 10px;
    color: #1A0DAB;
    text-decoration: none;
    font-weight: bold;
}

.similar-webpages-links a:hover {
    text-decoration: underline;
}

.next-pages {
    margin-top: 10px;
    justify-self: center;
    align-self: center;
}

.next-pages .next-pages-links {
    margin-bottom: 20px;
}

.next-pages .next-pages-links a {
    margin-right: 7px;
    text-decoration: none;
}

.next-pages-links a:hover {
    text-decoration: underline;
}

.next-pages-links > a:last-of-type {
    margin-left: 45px;
}

.footer {
    margin-top: 20px;
    background-color: #f2f2f2;
    color: #545454;
    padding-left: 120px;
    padding-right: 520px;
    border-top: 1px solid #E4E4E4;
}

.footer .address {
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
    border-bottom: 2px solid rgb(228, 228, 228);
}

.address p {
    margin-right: 20px;
}

.address h3 {
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: #545454;
    margin-right: 10px;
}

.footer .privacy {
    margin: 10px 0;
}
